/* .search2 {
  margin: 0 auto;
  padding: 50px 200px;
}

.search2 .search2-text {
  text-align: center;
  width: auto;
}
.search2 .search2-text span {
  font-weight: 700;
  font-size: 18px;
  line-height: 160%;
  text-align: center;
  color: #325a7e;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 20px 0px;
}
.search2 .search2-pot {
  margin: auto;
  width: 600px;
}
.search2 .search2-pot span {
  padding-top: 50px;
  font-weight: 700;
  font-size: 18px;
  line-height: 160%;
  text-align: center;
  color: #325a7e;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 20px 0px;
}
.search2 .search2-pot .search2-pot-img {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search2 .search2-pot .search2-pot-img .img {
  width: 302px;
  height: 273px;
}

.search2 .search2-pot .search2-pot-img .img .img-hover img{
  transition: all 0.5s;
}
.search2 .search2-pot .search2-pot-img .img .img-hover img:hover {
  width: 170px;
  height: 170px;
  background: linear-gradient(
      0deg,
      rgba(96, 197, 255, 0.2),
      rgba(96, 197, 255, 0.2)
    ),
    #ffffff;
  border: 5px solid #2f80ed;
  border-radius: 8px;
}
.search2 .search2-pot .search2-pot-img .img .text {
  text-align: center;
  margin-top: 5px;
}
.search2 .btn-ask {
  text-align: center;
}
.search2 .btn-ask .btn {
  width: 335px;
  height: 44px;
}
@media only screen and (max-width: 1024px) {
  .search2 {
    padding: 40px 40px;
  }
  .search2 .search2-pot .search2-pot-img {
    display: flex;
    justify-content: space-between;
  }
  .search2 .search2-pot .search2-pot-img .img1 img {
    margin-top: 24px;
  }
  .search2 .search2-pot .search2-pot-img .img2 img {
    margin-top: 20px;
  }
  .search2 .search2-pot .search2-pot-img .img3 img {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .search2 {
    padding: 20px 10px 10px 10px;
  }
  .search2 .search2-text span {
    font-size: 15px;
  }

  .search2 .search2-pot span {
    font-size: 15px;
  }
  .search2 .search2-pot .search2-pot-img {
    display: flex;
    justify-content: space-between;
  }
  .search2 .search2-pot .search2-pot-img .img2 {
  }
  .search2 .search2-pot .search2-pot-img .img2 img {
    margin-top: 22px;
  }
  .search2 .search2-pot .search2-pot-img .img3 img {
    margin-left: 0px;
    margin-top: 22px;
  }
} */
